<link rel="stylesheet" href="{{ url_for('footer.static', filename='css/footer.css') }}"/>

                              <!-----------Footer----------------->
                              <div class="footer">
                                <footer class="footer-distributed">

                                    <div class="footer-left">

                                      <h3><span>הכלבויניק</span></h3>

                                      <p class="footer-links">
                                        <a href="/">עמוד הבית</a>
                                        ·
                                        <a href="/contact">יצירת קשר</a>
                                        ·

                                        <a href="/policy">תנאי השימוש</a>
                                      </p>

                                      <p class = "follow">:עקבו אחרינו </p>

                                      <div class="footer-icons">

                                       <a target="_blank" href="https://www.facebook.com/Allrenty-112864887293394/"><i class="fa fa-facebook"></i></a>
                                        <a target="_blank" href="https://twitter.com/allrent"><i class="fa fa-twitter"></i></a>
                                        <a target="_blank" href="https://www.instagram.com/allrenty_co/"><i class="fa fa-instagram"></i></a>
                                        <a target="_blank" href="https://api.whatsapp.com/send?phone=allrenty&text=&source=&data="><i class="fa fa-whatsapp"></i></a>
                                        <br><br>
                                        <p class="footer-company-name">הכלבויניק © 2021</p><br>
                                  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
                                     <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
                                    <script src="javascripts/RelatedJavaScript.js"></script>
                                      </div>

                                    </div>

                                </footer>


                          </div>



