{% extends 'base.html' %}

{% set page_head_title = 'orders' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('ItemList.static', filename='css/ItemList.css') }}"/>
{% endblock %}

{% block page_body_main_content %}
    <div class="CartContainer">
        <div class="Header">
            <h3 class="Heading">רשימת הזמנות</h3>
        </div>

            <ul id="ProductList" style="list-style-type:none;">
                <div class="renting"><b><u>מחיר ליום השכרה</u></b></div>
                <br><br>
                <table width="100%">
                    <tr style="font-size: 35px;" bgcolor="white">
                      <th>הערות</th>
                      <th>מספר הזמנה</th>
                      <th>מחיר</th>
                      <th>אימייל</th>
                      <th>תאריך</th>
                    </tr>
                    {% for order in orders %}
                        <tr style="font-size: 35px;" bgcolor="white">
                          <th>
                              <input>
                          </th>
                          <th>{{ order['id'] }}</th>
                          <th>{{ order['order_Cost'] }}</th>
                          <th>{{ order['payer_email'] }}</th>
                          <th>{{ order['order_Date'] }}</th>
                        </tr>
                    {% endfor %}
                </table>
            </ul>

        </div>


{% endblock %}

{% block page_body_footer %}{% endblock %}

{% block page_body_js %}
    <script src="{{ url_for('orders.static', filename='js/orders.js') }}"></script>
{% endblock %}
